body {
    background: #efeadf url(../img/bg03.png) right 20px top 0px no-repeat;
    // background-size: cover;
    border-top: 10px solid;
    width: 100%;
    height: 100%;
}

.header {
    width: 90%;
    height: 134px;
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.header ul{
	width: 90%;
	margin: 10px auto;
}

.header ul li {
	width: 20%;
	height: 60px;
	background: #d5d0be;
	margin-left: 30px;

    float: left;
    text-align: center;
    line-height: 60px;
}

.header ul li:nth-child(3) {
    display: none;
}

.footer {
    width: 800px;
    margin: 20px auto;
}

.footer .nav {
    width: 618px;
    height: 25px;
    background: url(../img/bg04.png) 0 0 no-repeat;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.footer .body {
    margin: 40px auto;

    text-align: center;
}

.footer .body p:nth-child(1) {
    display: none;
}

.footer .body p:nth-child(2) {
    width: 587px;
    height: 217px;
    background: url(../img/bg05.png) 0 0 no-repeat;


    margin: 10px auto;
}

.footer .body p:nth-child(3) {
    width: 85%;
    font-size: 14px;
    color: #000;
    margin: 10px auto;

}
/*一下为后面考虑*/
.header .display {
	width: 800px;
}

.header .display img{
	display: block;
	width: 293px;
    height: 134px;
    margin: 10px auto;
    text-align: center;
}
